<main class="tw-m-4">
  <h1 class="tw-text-3xl tw-mb-4">Editing book</h1>

  <%= render "form", book: @book %>

  <div class="tw-mb-4">
    <%= link_to "Show this book", @book, class: "tw-text-blue-500" %> |
    <%= link_to "Back to books", books_path, class: "tw-text-blue-500" %>
  </div>
</main>
