<h1>Editing book</h1>

<%= render "form", book: @book %>

<div class="tw-mb-4">
  <%= render(Ui::Link.new(text: "Show this book", path: book_path(@book)))%> |
  <%= render(Ui::Link.new(text: "Back to books", path: books_path))%>
</div>

