<main class="tw-m-4">
  <p class="tw-text-green-700"><%= notice %></p>

  <h1 class="tw-text-3xl tw-mb-4">Books</h1>

  <table id="books" class="tw-border-collapse tw-mb-4 tw-bg-white">
    <tr class="tw-bg-green-300">
      <th class="tw-p-4">Id</th>
      <th class="tw-p-4">Title</th>
      <th class="tw-p-4">Body</th>
      <th class="tw-p-4">Actions</th>
    </tr>
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
  </table>

  <%= link_to "New book", new_book_path, class: "tw-bg-green-500 tw-p-2 tw-rounded-md tw-text-white hover:tw-bg-green-600" %>
</main>
